*{
    margin:0;
    padding:0;
}


body{
    background-color: #f1f3f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.icon-1{
    width:30px;
    height: 30px;;
    color:white;
    margin-top:10px;
    cursor: pointer;
}
.icon-1:hover{
    color:#e67700;
}
a{
    text-decoration: none;
}
.get{
    color:white;
}
.skill{
    color:#e67700;

}
.pk{
    color:white;
}
.top{
    background-color: #212529;
    padding:18px;
    /* padding-left:90px; */
    display:flex;
    align-items: center;
    justify-content:left;
    gap:330px;
    /* flex-wrap:wrap; */
    border-bottom: 3px solid #e67700 ;
    
}

.top h1{
/* flex:0 10px; */
/* justify-self: left;
gap:100px; */
margin-left:-300px;
/* margin-bottom: 10px; */
}
.top h2{
    color:white;
    font-size:26px;
    font-weight: 470;
}

.log-out:link {
    color:white;
    font-size:20px ;
    font-weight: bold;
    /* text-decoration: underline; */
}
.log-out:visited {
    color:white;
    font-size:20px ;
    font-weight: bold;
    
}
.log-out:hover{
    color:#e67700;
}

.nav-tag a:link{
    color:white;
    font-size:18px ;
    padding-left:10px;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center; 
    /* border-top: 2px solid white; */

}

.nav-tag a:visited {
    color:white;
    font-size:20px ;
    font-weight: bold;
}

.nav-tag a:hover{
    background-color: #e67700;
    border-left:4px solid white;
}


.nav-tag{
    display:flex;
    flex-direction: column;
    background-color: #212529;
    position:absolute;
    top:80px;
    /* left:100px; */
    padding-top: 30px;
    width:260px;
    height:1300px;
    gap:5px;  
    opacity:1;
    transform:translateX(-260px); 
    border-top: 2px solid #e67700 ;
    transition:transform 0.5s ease-in-out;
}

 /* .btn:checked ~.nav-tag{
    transition: opacity 2s 4s;
    transform: translateX(0);
} */

 .nav-open{
    /* opacity:0.5; */
    transform:translateX(0px);
    transition:transform 0.5s ease-in-out;
} 

.side-bar{
    background-color:#212529 ;
    width:100px;
    
    
}
.icons{
    
    width:28px;
    height: 30px;;
    color:white;
    margin-top:1px;
    cursor: pointer;
    margin-left: 50px;
    /* fill:#212529; */
    
}
.icons :hover{
    color:#e67700 ;
    
}

.box{
    background-color:#212529 ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    margin-left: -30px;
    gap:30px;
    width: 100px;
    height: 1300px;
    padding-top:20px;
    position:absolute;
}



.heading h2{
     font-size:35px;
     color:#212529
 }
 .heading{
    /* position:absolute;
    top:100px;
    left:100px; */
    /* z-index:-1; */
    padding-top:25px;
    margin-left:100px;
    transition:margin 0.5s ease-in-out;
}

.position-change{
    
    /* position:absolute;
    top:100px;
    left:280px; */
    /* margin-left:280px; */
    /* z-index:-1; */
}




/* Universal END */

 .options{
     width:900px;
     /* height: 400px; */
     margin-left: 200px;
     margin-top: 40px;
 }
.options h3{
    padding:30px;
    background-color: #212529;
    /* border-top-left-radius: 5px;
    border-top-right-radius:5px; */
    border-radius: 5px;
    color:white;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 500;
  
}

.options div{
    background-color: white;
      margin-bottom: 25px;
      padding:30px ;
      border-radius: 5px;
}

/* -------Courses-------  */

.opt-1 p{
    font-size: 20px;
    margin-left:25px;
    color:#e03131;
}




/* -------News Board -------*/
.opt-2 p{
    font-size: 20px;
    margin-left:25px;
    color:#e03131;
}
/* -----Activity----- */
.opt-3{
    height: 200px;
}

.set{
    margin-top: -20px;
    margin-right:50px;

}
a{
    color:#495057 ;
    font-size: 20px;
    
}
.options a:hover{
    color:#e67700 !important;
}

.activity-svg-1{
    width:50px;
    height: 50px;
    margin-right: 10px;
    margin-top: -20px;

    
}
.activity-svg-2{
    width:50px;
    height: 38px;
    margin-top: -20px;
    
    
}
.nested-div{
    display:flex;
    align-items: center;
    justify-content: flex-start;    
   
}


/* Services */
.opt-4{
    height: 200px;
}
.services-svg-1{
    width:100px;
    height:50px;
    margin-left:-50px;
    margin-top: -20px;  
    /* margin-right: 10px; */
}
.services-svg-2{
    width:100px;
    height:50px;
    margin-left: 120px;
    margin-top: -20px;  
    margin-right: 10px;
}

.adjust{
    margin-top:-15px;

}



footer{
    background-color: white;
    color:#495057;
    font-size: 14px;
    margin-top:150px;
    margin-left:70px;
    padding-left:20px;
    padding-top:25px;
    padding-bottom: 10px;
    transition:margin 0.5s ease-in-out;
}

.footer-class{
  margin-left:250px;
  transition:margin 0.5s ease-in-out;
}